/* 
    Document   : style
    Created on : 22-feb-2013, 18:49:02
    Author     : Gemma
    Description:
        Purpose of the stylesheet follows.
*/


/* Menú de navegació */
.span2 {
    padding-right: 10px;
    font-family: century-gotic;
    width: 220px;
}

.body {
    font-family: century gothic;
    text-align: left;
}

.menu {
    
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    font-family: century gotic;
    width: 220px;
}

.contingut {
    width: 700px;
    padding-right: 20px;
    padding-top: 20px;
    
    
}

/* Logo */
.span4 {
    height: 100px;
    padding-left: 10px;
}

/* Títol */
.span8 {
    height: 100px;
    padding-right: 10px;
}

/* Contingut */
.span10 {
    padding-left: 10px;
}

/* Header i footer */
.span12 {
    padding-left: 10px;
    padding-right: 10px;
}

#footer {
    text-align:center;
}

.h1 {
    height: 100%;
    font-size:12px;
}

.accordion-group {
    border: 1px solid #ffffff;
}

.accordion-inner {
    padding: 9px 15px;
    border-top: 1px solid #ffffff;
}

.accordion-toggle {
    font-family:century gothic;
    color:black;
    font-size:16px;
}

.animacio {
    max-width: 700px;
    widht:700px;
    height: 400px;
    background-repeat: no-repeat;
    background-position: 0 0;
    overflow: hidden;
    padding: 0px;
    position: relative;
    /* background-image: url('./images/benestar.jpg'); */
}

.all {
    width: 960px;
    min-width: 940px;
    max-width: 960px;
    margin: auto;
}

.header {
    width: 960px;
    padding-top: 10px;
}

.h2 {
    font-family: century-gotic;
    font-size: 10px;
    
}

.line {
    border: 0;
    border-collapse: collapse;
    border-top: 1px solid #CCCCCC;
    border-right:1px solid #CCCCCC;
}

.title {
    text-align:right; 
    font-style: century gothic; 
    color: grey;
    font-size:20px;
    padding-bottom: 0px;
}

.submenu {
    text-align: left; 
    padding-left: 15px;
    font-style: century-gotic; 
    font-size:16px;
    color: black;
    font-weight: normal;
}

a {
    text-align: left;
}


.sub{
    text-align: left;
    font-family: century gothic;
    color: black;
    margin: 0px;
}


.lletra {
    font-family: century gothic;
    text-align: justify;
    
}

.text-box {
    max-width: 700px;
    background-position: 0 0;
    text-align: left; 
    background-color: transparent; 
    background: rgb(1, 1, 1);
    background: rgba(150, 150, 150, 0.7); 
    color: white;
    text-align: left;
    font-family:century gothic;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    content: "charset=utf-8";
}



